@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital@0;1&family=Martian+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
    --fonte0: Verdana, Geneva, Tahoma, sans-serif;
    --fonte1: 'Bebas Neue', sans-serif;
    --fonte2: 'Lato', sans-serif;
    --fonte3: 'Martian Mono', monospace;
    --fonte4: 'Russo One', sans-serif;
}


/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Martian Mono', monospace; */

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: #aa50b0;
    font-family: var(--fonte0);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 40px;
    font-variant: small-caps;
    font-family: var(--fonte4);
    font-size: 5vw;
}

header > p {
    padding-bottom: 40px;
    font-family: var(--fonte2);
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte2);
    font-weight: bold;
    font-size: 1.5em;
}

section.normal {
    background-color: #ca91b7;
    color: black;
}

section.imagem {
    background-color: #87307b;
    color: white;
}

section.imagem > p {
    display: inline-block;
    background-color: #4b1b44;
    padding: 5px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 7px;
}
