@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightblue;
}

header {
    background-color:rgb(55, 161, 227);
}

header > h1 {
    padding: 10px;
    text-align: center;
}

i#burger {
    background-color: rgb(70, 70, 70);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}

i#burger:hover {
    background-color: rgb(24, 26, 28);
    color: rgb(0, 136, 255);
    cursor: pointer;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(48, 48, 55);
    color: white;
    border-top: 2px solid black;
}

menu > ul > li > a:hover {
    background-color: black;
    color: gray;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}